{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="text-center mt-5 card">
        <h3 class="font text-info card-header"><b>تغییر رمز عبور</b></h3><br>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <span class="font text-danger">
                    <b>
                        {{ form.old_password.errors }}
                    </b>
                </span>
                <span class="font">
                    <b>
                        <p>رمز قدیمی</p>
                    </b>
                </span>
                {{ form.old_password }}<br><br>
                <span class="font text-danger">
                    <b>
                        {{ form.new_password1.errors }}
                    </b>
                </span>
                <span class="font">
                    <b>
                        <p>رمز جدید</p>
                    </b>
                </span>
                {{ form.new_password1 }}<br><br>
                <span class="font text-danger">
                    <b>
                        {{ form.new_password2.errors }}
                    </b>
                </span>
                <span class="font">
                    <b>
                        <p>تکرار رمز</p>
                    </b>
                </span>
                {{ form.new_password2 }}<br><br>
                <button type="submit" class="btn btn-info font"><b>تغییر</b></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}