<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</head>
<body>
    <h3>نام : {{ customer.first_name }}</h3>
    <h3>نام خانوادگی : {{ customer.last_name }}</h3>
    <h3>شماره تلفن : {{ customer.phone }}</h3>

    <form>
        <input placeholder="{{ customer.first_name }}">
        <input placeholder="{{ customer.last_name }}">
        <input placeholder="{{ customer.phone }}">
    </form>

    <a class="btn btn-success" href="{% url 'product:index' %}"><h3>خانه</h3></a>
</body>
</html>