
{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'customer/css/nav_panel_style.css' %}">
{% endblock %}


{% block body %}

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'customer:edit_profile' %}">ویرایش اصلاعات شخصی</a>
        <a href="{% url 'change-password' %}">تغییر رمز عبور</a>
        <a href="{% url 'customer:add_address' %}">افزودن آدرس</a>
        <a href="{% url 'customer:order_history' %}">تاریخچه سفارشات</a>
    </div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

    <div class="container" style="padding-top: 4rem">
        <div class="row">
            <div class="col-12">
                <div class="row border-bottom">
                    <div class="col-lg-6 col-sm-12 border-right">
                        <p class="h3c">نام</p>
                        <h5 class="pc">{{ customer.first_name }}</h5>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="h3c">نام خانوادگی</p>
                        <h5 class="pc">{{ customer.last_name }}</h5>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-6 col-sm-12 border-right">
                        <p class="h3c">ایمیل</p>
                        <h5 class="pc">{{ user.email }}</h5>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="h3c">شماره تلفن</p>
                        <h5 class="pc">{{ customer.phone }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    <h2 style="text-align: center">سفارشات اخیر</h2>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>محصول</th>
                            <th>تاریخ سفارش</th>
                            <th>آدرس</th>
                            <th>تعداد</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orderitems %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ order.product}}</td>
                                <td>{{ order.order.placed_at }}</td>
                                <td>{{ order.order.address }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.order.payment_status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div>


    </div>

    </div>
    </div>
{#</div>#}
{#    <div id="mySidenav" class="sidenav">#}
{#  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>#}
{#  <a href="#">About</a>#}
{#  <a href="#">Services</a>#}
{#  <a href="#">Clients</a>#}
{#  <a href="#">Contact</a>#}
{#</div>#}
{##}
{#<div id="main">#}
{#  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>#}
{#</div>#}

    <script src="{% static 'customer/js/panel_nav.js' %}"></script>
{% endblock %}