{% extends 'base.html' %}

{% block body %}
    {% for product in products %}
        <div class="product">
            <div style="text-align: center">
                <img src="{{ product.image.url }}" />
            </div>
            <h3 style="text-align: center">{{ product.name }}</h3>
            <p>{{ product.description }}</p><br>
            <p>{{ product.price }}</p>
            <a href="{% url 'cart' product.id%}" class="btn"><h5>افزودن به سبد خرید</h5></a>
        </div>
    {% endfor %}

{% endblock %}
